# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\【Codes】各种代码啊\FxxkOnmyoji\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
